.city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: #EAEAEA;
    padding: 1rem;
    & i {
      font-size: 1.5rem;
      position: relative;
    }
    & input{
      border-style: none;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      background: #EAEAEA;
      margin: -40px;
    }
  }