@use"../utils/colors.scss";

footer {
    position: relative;
    background-color: colors.$darkgrey;
    padding-bottom: 1rem;
    @media (min-width: 1024px){
        padding: 1.89rem; 
    }
    .footer__list {
        @media (min-width: 1024px){
            display: flex;
            justify-content: flex-end;
            h2 {
                position: absolute;     
                right: 4rem;   
            }
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                max-width: 400px;
            }

        }
        a {
        color: colors.$white;
        text-decoration: none;
    }
    li {
        justify-content: space-between;
        list-style: none;
        padding: 0.5rem 0rem;
        margin: 0;
        text-decoration: none;
        }
    h2{
        color: colors.$white;
        font-family: 'Shrikhand';
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
    }
    i {
        width: 11px;
        margin-right: 1rem;
    }
}
}