@use "../utils/colors.scss";
@use "../utils/box-shadow.scss";
@use "../utils/anim.scss";

.menus {
    background-color: colors.$lightgrey;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    h2{
        margin-bottom: 2rem;
    }
    .menus__cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        @media (min-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }
        .new{
            position: relative;
        }
        .new::before {
            content: "Nouveau";
            position: absolute;
            background-color: colors.$green;
            color: colors.$greenfont;
            right: 0.75rem;
            top: 1rem;
            padding: 0.5rem;
            border-radius: 2px;

        }
    }

        .cards{
            & .card__image {
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                border-radius: 15px 15px 0 0;
                height: 15rem;
                background-size: cover;
            }
        }
        @for $i from 1 through 4 {
            .card__image-#{$i} {
                background-image: url(./assets/images/restaurants/menu-#{$i}.jpg);
            }
        }
            & .card__description {
                position: relative;
                h3{
                    margin: 0;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    color: black;
                }
                p { 
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 17px;
                    color: black;
                }
                i {
                    color: black;
                    font-size: 1.5rem;
                    position: absolute;
                    right: 1rem;
                    top: 2rem;
                }
                background-color: white;
                padding: 1rem;
                border-radius: 0 0 15px 15px;
                @include box-shadow.base-shadow;

            & .fa-solid {
                color: transparent;
                &:hover 
                {
                    color: transparent;
                    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);                
                    -webkit-background-clip: text;
                    transform: scale(1.1);
                    transition: all 0.3s ease-in-out;
                    }           
                }
            
        }

}
